<h1>Add personnel:</h1>
<form id="add" action="" method="GET">
    <div class="col-4 mb-2">
        <label for="inp_name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="inp_name">
    </div>

    {{!-- <div class="col-1 mb-2">
        <label for="inp_color" class="form-label">Color</label>
        <input type="color" class="form-control" value="#212126" name="color" id="inp_color">
    </div> --}}
    <button type="submit" class="btn btn-outline btn-dark">Add</button>
</form>
<script src="/addPersonnel.js"></script>