<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        h1 {
            color: aqua;
            font-family: "Comics Sans MS", cursive;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/page">Page</a></li>
    </ul>
    {{!-- <h1>Hello, HBS page</h1> --}}
    <h1>{{caption}}</h1>
</body>
</html>